{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 bg-white">
          <h1>{% trans "Change Password" %}</h1>
          <p>{% trans 'Your password is now changed.' %}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
