{% extends "account/base.html" %}
{% load static %}
{% load i18n %}


{{ form.media }}
{% block head_title %}
  {% trans "Signup" %}
{% endblock %}


{% block content %}
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-register.css' %}">
    <title></title>
  </head>


  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form class="signup" id="signup_form" enctype='multipart/form-data' method="post"
            action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p style="font-weight: bold"> Enter your personal details and start journey with us</p>
          <a href="{% url 'account_login' %}" class="ghost" id="signUp">Sign In</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
