{% extends "account/base.html" %}
{% load static %}
{% load i18n %}


{{ form.media }}
{% block head_title %}
  {% trans "Signup" %}
{% endblock %}


{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login-register.css' %}">
  <title></title>
</head>


  <div class="container" id="container">
{##}
{##}
{##}
{#    <div class="form-container sign-up-container">#}
      <form class="signup" id="signup_form" enctype='multipart/form-data' method="post"
            action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
{#    </div>#}

{#    <div class="overlay-container">#}
{#      <div class="overlay">#}
{#        <div class="overlay-panel overlay-left">#}
{#          <h1>Welcome Back!</h1>#}
{#          <p style="font-weight: bold">To keep connected with us please login with your personal info</p>#}
{#          <button class="ghost" id="signIn">Sign In</button>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
  </div>


{% endblock %}
