.custom{
    width: max-content;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
    color: black !important;
}
a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

a:active {
  text-decoration: underline !important;
}

