
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.container {
    position: relative;
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: .5s;
}

.card-image:hover img {
    opacity: 0.4;
    transition: .5s;
}

.card:hover .card-image {
    transform: translateY(-100px);
    transition: all .9s;
}

/**** Personal Details ****/

.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
}

h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

.job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}



