.profile-header {
    transform: translateY(5rem);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,113,1) 35%, rgba(255,0,198,1) 100%);
}

.image-star{
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
}

.image-wrapper{
    position: relative;
    width: max-content;
}
.profile-image:not(:first-of-type){
    display: none;
}

