<!doctype html>
{% load i18n %}
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>{% trans "LoveApp" %}</title>
  <meta name="description" content="...">

  <meta name="viewport" content="width=device-width, maximum-scale=5, initial-scale=1, user-scalable=0">
  <!--[if IE]>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

  <!-- up to 10% speed up for external res -->
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/">
  <!-- preloading icon font is helping to speed up a little bit -->
  <link rel="preload" href="assets/fonts/flaticon/Flaticon.woff2" as="font" type="font/woff2" crossorigin>


  <!-- non block rendering : page speed : js = polyfill for old browsers missing `preload` -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">

    <link rel="stylesheet" type="text/css" href="{% static 'css/avatar.css' %}">

  <!-- favicon -->
{#  <link rel="shortcut icon" href="favicon.ico">#}
  <link rel="apple-touch-icon" href="demo.files/logo/icon_512x512.png">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script>

  <link rel="manifest" href="assets/images/manifest/manifest.json">
  <meta name="theme-color" content="#377dff">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>{% block title %} Home {% endblock %}</title>
</head>
<body>


<div id="content" , name="content" , class="main">
  <div class="row justify-content-center" , style="height: 700px;">
    <div class="col-9">
      {% include "navbar.html" %}
      <hr class="nt-0 nb-4">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

</body>
</html>