{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

  {% if user.premium == True %}
    <div class="row justify-content-center ">
    <div class="col-8 high bg-white">
      <canvas id="BarMultiple" class="chartjs"
              data-chartjs-dots="false"
              data-chartjs-legend="top"
              data-chartjs-grid="true"
              data-chartjs-tooltip="true"

              data-chartjs-title="Multiple Bar Charts"
              data-chartjs-xaxes-label="Month"
              data-chartjs-yaxes-label="Like vs Dislike"
              data-chartjs-line-width="5"

              data-chartjs-type="bar"
              data-chartjs-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]'
              data-chartjs-datasets='[{
				"label": "Likes",
				"data":[
				{% for value in like_list %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
				"backgroundColor": "rgba(3, 169, 244, 0.7)"
		},{
				"label": "Dislikes",
				"data":	[{% for value in dislike_list %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
				"backgroundColor": "rgba(255, 193, 7, 0.61)"
		}]'
      ></canvas>
    </div>





    <div class="row justify-content-center ">
      <div class="col-6 high bg-white">
        <canvas class="chartjs"
                data-chartjs-title="Pie Chart"
                data-chartjs-legend="left"
                data-chartjs-tooltip="true"

                data-chartjs-type="pie"
                data-chartjs-datasets='[
                      {% for key,value in value_pie.items %}
                    {% if forloop.last %}
                       ["{{ key }}", {{ value.0 }}, "#{{ value.1 }}"]
                     {% else %}
                       ["{{ key }}", {{ value.0 }}, "#{{ value.1 }}"],
                      {% endif %}
                   {% endfor %}
    	            ]'>
        </canvas>
      </div>
    </div>










  {% elif user.premium == False %}

    <div class="row py-5 px-4">
      <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
        <div class="bg-dark shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 bg-dark text-white">
            <h1>Purchase premium to view statistics </h1>

          </div>
        </div>
      </div>
    </div>


  {% endif %}


  <script src={% static "assets/js/core.min.js" %}></script>
{% endblock %}
