{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

  <div class="row justify-content-center  ">
    <div class="col-6 high bg-white margin">
      <canvas id="GenderBar" class="chartjs"
              data-chartjs-dots="false"
              data-chartjs-legend="true"
              data-chartjs-grid="true"
              data-chartjs-tooltip="true"

              data-chartjs-title={% blocktrans %} "Simple Bar Charts" {% endblocktrans %}
              data-chartjs-xaxes-label={% trans "Month" %}
                      data-chartjs-yaxes-label= {% trans "Matched" %}

              data-chartjs-type="bar"
              data-chartjs-labels={% blocktrans %}'["Man","Woman","Other"]' {% endblocktrans %}
              data-chartjs-datasets='[{
                  "label":{% blocktrans %} "Count of Matched", {% endblocktrans %}
              "data":[
                   {% for value in all_gender %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
                  "backgroundColor":"rgba(3, 169, 244, 0.7)"
              }]'
      ></canvas>
    </div>
  </div>




  <div class="row justify-content-center  ">
    <div class="col-6 high bg-white margin">
      <canvas id="preferencesBar" class="chartjs"
              data-chartjs-dots="false"
              data-chartjs-legend="true"
              data-chartjs-grid="true"
              data-chartjs-tooltip="true"

              data-chartjs-title={% blocktrans %} "Simple Bar Charts" {% endblocktrans %}
              data-chartjs-xaxes-label={% trans "Month" %}
                      data-chartjs-yaxes-label= {% trans "Matched" %}

              data-chartjs-type="bar"
              data-chartjs-labels={% blocktrans %}'["Netflix & Chill","Books","Going out for wine","Travels","Diner","Model bonding"]' {% endblocktrans %}
              data-chartjs-datasets='[{
                  "label":{% blocktrans %} "Count of Matched", {% endblocktrans %}
              "data":[
                   {% for value in preferences_users %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
                  "backgroundColor":"rgba(3, 169, 244, 0.7)"
              }]'
      ></canvas>
    </div>
  </div>

  <div class="row justify-content-center  ">
      <div class="col-6 high bg-white margin">
        <canvas class="chartjs"
                data-chartjs-title="Pie Chart"
                data-chartjs-legend="left"
                data-chartjs-tooltip="true"

                data-chartjs-type="pie"
                data-chartjs-datasets='[
                      {% for key,value in age_min_min.items %}
                    {% if forloop.last %}
                       ["{{ key }}", {{ value.0 }}, "#{{ value.1 }}"]
                     {% else %}
                       ["{{ key }}", {{ value.0 }}, "#{{ value.1 }}"],
                      {% endif %}
                   {% endfor %}
    	            ]'>
        </canvas>
      </div>
    </div>

  <script src={% static "assets/js/core.min.js" %}></script>
{% endblock %}
