{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

  <div class="row justify-content-center  ">
    <div class="col-6 high bg-white margin">
      <canvas id="GenderBar" class="chartjs"
              data-chartjs-dots="false"
              data-chartjs-legend="true"
              data-chartjs-grid="true"
              data-chartjs-tooltip="true"

              data-chartjs-title={% blocktrans %} "Simple Bar Charts" {% endblocktrans %}
              data-chartjs-xaxes-label={% trans "gender" %}
                      data-chartjs-yaxes-label= {% trans "Count" %}

              data-chartjs-type="bar"
              data-chartjs-labels={% blocktrans %}'["Man","Woman","Other"]' {% endblocktrans %}
              data-chartjs-datasets='[{
                  "label":{% blocktrans %} "Count of Gender", {% endblocktrans %}
              "data":[
                   {% for value in all_gender %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
                  "backgroundColor":"rgba(3, 1, 244, 0.7)"
              }]'
      ></canvas>
    </div>
  </div>

  <div class="row justify-content-center  ">
    <div class="col-6 high bg-white margin">
      <canvas id="preferencesBar" class="chartjs"
              data-chartjs-dots="false"
              data-chartjs-legend="true"
              data-chartjs-grid="true"
              data-chartjs-tooltip="true"

              data-chartjs-title={% blocktrans %} "Simple Bar Charts" {% endblocktrans %}
              data-chartjs-xaxes-label={% trans "Preferences" %}
                      data-chartjs-yaxes-label= {% trans "Count" %}

              data-chartjs-type="bar"
              data-chartjs-labels={% blocktrans %}'["Netflix & Chill","Books","Going out for wine","Travels","Diner","Model bonding"]' {% endblocktrans %}
              data-chartjs-datasets='[{
                  "label":{% blocktrans %} "Count of Preferences", {% endblocktrans %}
              "data":[
                   {% for value in preferences_users %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
                  "backgroundColor":"rgba(3, 169, 244, 0.7)"
              }]'
      ></canvas>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-2 width  bg-white ">
        Average Age Min: {{ avg_age_min }} <br>
        Average Age Max: {{ avg_age_max }} <br>
        The most Preferences Gender:  {{ the_most_preferences_gender }}
    </div>
  </div>
  <script src={% static "assets/js/core.min.js" %}></script>
{% endblock %}
