{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
  <div class="row justify-content-center ">


    <div class="col-8 high bg-white">

      <canvas id="BarMultiple" class="chartjs"
              data-chartjs-dots="false"
              data-chartjs-legend="top"
              data-chartjs-grid="true"
              data-chartjs-tooltip="true"

              data-chartjs-title="Multiple Bar Charts"
              data-chartjs-xaxes-label="Month"
              data-chartjs-yaxes-label="Visits vs Orders"
              data-chartjs-line-width="5"

              data-chartjs-type="bar"
              data-chartjs-labels='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]'
              data-chartjs-datasets='[{
				"label": "Likes",
				"data":[
				{% for value in like_list %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
				"backgroundColor": "rgba(3, 169, 244, 0.7)"
		},{
				"label": "Dislikes",
				"data":	[{% for value in dislike_list %}
                    {% if forloop.last %}
                          {{ value }}
                   {% else %}
                           {{ value }},
                   {% endif %}
                   {% endfor %}],
				"backgroundColor": "rgba(255, 193, 7, 0.61)"
		}]'
      ></canvas>
    </div>
  </div>



  <script src={% static "assets/js/core.min.js" %}></script>
{% endblock %}
