{% extends "base.html" %}

{% block content %}
  {% for data in photo %}

    <div class="row py-5 px-4">
      <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 bg-dark">
            <div class="media align-items-end profile-header">
              <div class="profile mr-3">
                <div class="image-wrapper">
                  <img src="{{ data.photo.url }}" alt="..." width="130">

                  {% if  data.custom_user.premium|yesno:"Premium,NonPremium" == "Premium" %}
                    <img src="/static/images/star.png" alt="..." class="image-star">

                  {% endif %}

                </div>
                <div class="media-body mb-5 text-white">
                  <h4 class="mt-0 mb-0">    {{ data.custom_user.last_name }} {{ data.custom_user.first_name }}</h4>
                  <h4>{{ data.custom_user.sex }} <br/></h4>

                </div>
              </div>
            </div>
            <div class="py-4">
              <h5 class="mb-3">Recent posts</h5>
              <div class="p-4 bg-dark rounded shadow-sm text-white">
                <p class="font-italic mb-0">    {{ data.custom_user.descriptions }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  {% endfor %}
{% endblock %}