{% load i18n %}

<div class="container-fluid position-relative" style="padding-left: 64%;">

  <nav class="navbar navbar-expand-lg navbar-light justify-content-lg-between justify-content-md-inherit">

    <div class="align-items-start">

      <a href="#aside-main"
         class="btn-sidebar-toggle h-100 d-inline-block d-lg-none justify-content-center align-items-center p-2">
            <span class="group-icon">
                <i>
                    <svg width="25" viewBox="0 0 20 20">
                        <path d="M 19.9876 1.998 L -0.0108 1.998 L -0.0108 -0.0019 L 19.9876 -0.0019 L 19.9876 1.998 Z"></path>
                        <path d="M 19.9876 7.9979 L -0.0108 7.9979 L -0.0108 5.9979 L 19.9876 5.9979 L 19.9876 7.9979 Z"></path>
                        <path d="M 19.9876 13.9977 L -0.0108 13.9977 L -0.0108 11.9978 L 19.9876 11.9978 L 19.9876 13.9977 Z"></path>
                        <path d="M 19.9876 19.9976 L -0.0108 19.9976 L -0.0108 17.9976 L 19.9876 17.9976 L 19.9876 19.9976 Z"></path>
                    </svg>
                </i>
            </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if user.is_authenticated %}
        <li class="list-inline-item ml--6 mr--6 ">
          <a href="{% url 'account_logout' %}"{% blocktrans %} Log out {% endblocktrans %} id="dropdownAccountOptions"
             class="btn btn-sm btn-light btn-pill pl--12 pr--12"
             aria-expanded="false" aria-haspopup="true">
                                <span class="group-icon m-0">
                                    <!-- <i class="fi fi-user-female"></i> -->
                                    <i class="fi w--15 fi-user-male"></i>
                                </span>
            <span class="fs--14 d-none d-sm-inline-block font-weight-medium">{% blocktrans %}Log
              out. {% endblocktrans %}</span>
          </a>
        </li>
      {% else %}
        <li class="list-inline-item ml--6 mr--6 ">
          <a href="{% url 'account_login' %}"{% blocktrans %} Login {% endblocktrans %} id="dropdownAccountOptions"
             class="btn btn-sm btn-light btn-pill pl--12 pr--12"
             aria-expanded="false" aria-haspopup="true">
                                <span class="group-icon m-0">
                                    <!-- <i class="fi fi-user-female"></i> -->
                                    <i class="fi w--15 fi-user-male"></i>
                                </span>
            <span class="fs--14 d-none d-sm-inline-block font-weight-medium">{% blocktrans %}Sing
              In. {% endblocktrans %}</span>
          </a>
        </li>
      {% endif %}

    </div>
  </nav>
</div>

