{% extends 'base.html' %}

{% load static %}

{% block content %}
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>  <!-- new -->
    <script src="{% static 'js/main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  </head>
  {% if user.premium == False %}
    <div class="pricing-area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-price">
              <div class="deal-top">
                <h3>Standard</h3>
                <h4> 5 <span class="sup">zł</span></h4>
              </div>
              <div class="deal-bottom">
                <ul class="deal-item">
                  <li>Unlimited Message</li>
                  <li>Allow to Dashboard</li>
                  <li>And much more</li>
                  <li>Permanent premium account </li>

                </ul>
                <div class="btn-area">
                  <button class="button is-primary btn-area" id="submitBtn">Purchase!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}

    <div class="row py-5 px-4">
      <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">
        <div class="bg-dark shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 bg-dark text-white">
            <h1>You already have a premium.</h1>
          </div>
        </div>
      </div>
    </div>

  {% endif %}





{% endblock %}

