{% extends "base.html" %}
{% block content %}
<body>


<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% for value, text in form.providers.field.choices %}
  <div class="ui slider checkbox">
    <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.providers.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
    <label>{{ text }}</label>
  </div>
{% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="row mb-2 posts">

    </div>
</div>
</body>
{% endblock %}