{% extends "base.html" %}
{% load static %}
{% block content %}

  <button class="pie-button" value="Dislike">Dislike</button>
  <button class="pie-button" value="Like">Like</button>


  <script>
      const pieChart = (button = false) => {
          const url = $("#pieChart").attr("data-url");
          let buttonValue = ''
          if (button) {
              buttonValue = $(button).attr('value')
          }
          $.ajax({
              url: url,
              method: 'GET',
              data: buttonValue,
              success: data => {
                  $("#pieChart").html(data)
              },
          })
      }
      pieChart()
      $('.pie-button').on("click", (target) => {
          pieChart(target.currentTarget)
      })
  </script>

{% endblock %}