{% extends "base.html" %}
{% load static %}
{% block content %}

  <button class="random-button" value="Dislike">Dislike</button>
  <button class="random-button" value="Like">Like</button>


  <script>
      const randomPerson = (button = false) => {
          const url = $("#randomPerson").attr("data-url");
          let buttonValue = ''
          if (button) {
              buttonValue = $(button).attr('value')
          }
          $.ajax({
              url: url,
              method: 'GET',
              data: buttonValue,
              success: data => {
                  $("#randomPerson").html(data)
              },
          })
      }
      randomPerson()
      $('.random-button').on("click", (target) => {
          randomPerson(target.currentTarget)
      })
  </script>

{% endblock %}